<section class="row">
  <div class="col-md-12">
    <div
      id="myCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
      data-pause="false"
    >
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../static/files/phy5.jpg"
            class="d-block w-100"
            alt="Slide 1"
            height="400"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-danger">To your Shopping delight</h5>
            <p class="text-primary">Welcome to our page.</p>
          </div>
        </div>

        <div class="carousel-item">
          <img
            src="../static/files/phy8.jpg"
            class="d-block w-100"
            alt="Slide 2"
            height="400"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-primary">WE HAVE WHAT YOU NEED </h5>
            <p class="text-danger">WE KNOW YOU WANT IT, YOU JUST DON'T KNOW IT YET</p>
          </div>
        </div>

        <div class="carousel-item">
          <img
            src="../static/files/wallpaperflare.com_wallpaper.jpg"
            class="d-block w-100"
            alt="Slide 2"
            height="400"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-primary">FROM GROCERIES TO ELECTRONICS </h5>
            <p class="text-danger">YOU WANT IT, WE GAT IT *,*</p>
          </div>
        </div>


      </div>
      <!-- Controls -->
      <!-- Carousel controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</section>

