<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROCERIES ^,^</title>

    <!-- CSS supporting files -->
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="css/bootstrap.css" />

    <link rel="stylesheet" href="css/custom-style.css" />
    <script src="js/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/files/css/style.css">

    <!-- JS supporting files -->

    <script src="../static/files/js/bootstrap.min.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>

    <style>
body{
            background-color: rgb(203, 226, 222);

img{
                transition: 1s;

            }
            color: rgb(2, 2, 0);
 img:hover{
                transform: scale(1.1);
            }
            .font-bold{
                font-weight: bold;
            }

            .text-15{
                font-size: 15px;
            }

            section{
                margin-top: 20px!important;
                margin-bottom: 20px !important;
            }
        }
    </style>

</head>
<body>

    <div class="container-fluid">
      <section class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-md navbar-light btn-light bg-warning p-4">
            <a href="#" class="navbar-brand" class="text-danger"
              >Diamples <b class="text-success">Supermarket</b></a
            >
            <img src="../static/images/health_12597635.png" height="56" alt="yourhealth">
            <button
              type="button"
              class="navbar-toggler"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <audio src="../static/CLUB BANGERS 2022 -AFROBEATS VS GENGETONE - DJ JAMES REALEST (hearthis.at).mp3" controls autoplay loop muted>Listen to us</audio>
      
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
    
                <div class="dropdown">
                  <a class=" nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="shirts.html">Shirts</a></li>
                    <li><a class="dropdown-item" href="suits.html">Suits</a></li>
                    <li><a class="dropdown-item" href="shoesandbruse.html">Everthing For You</a></li>
                  </ul>
                </div>
    
                 <a href="home.html" class="nav-item nav-link">Home</a>
                <a href="groceries.html" class="nav-item nav-link">Groceries</a>
                <a href="snacks.html" class="nav-item nav-link">Snacks</a>
                <a href="shelfcare.html" class="nav-item nav-link">Shelfcare</a>
                <a href="blog.html" class="nav-item nav-link">Blog</a>
                <a href="about.html" class="nav-item nav-link text-muted">About</a>
                
              </div>

              <h5>Stay Connected</h5>

              <img src="../static/images/x.png" alt="" width="20px" />
              <img src="../static/images/in.png" alt="" width="20px"/>
              <img src="../static/images/fb.png" alt="" width="20px" /><br /><br />
    

            </div>
          </nav>
        </div>
      </section>
        <br>

        <marquee behavior="" direction="left" class="text-primary">HERE ARE SOME OF THE FREASHES GROCERIES YOU WILL EVER FIND ON GOD'S GREEN EARTH ^.^</marquee>

    </div>   

  <section class="row p-5">

    <div class="col-md-6">
      <p>
        <img src="../static/images/phy21.jpg" alt="Carpet 1" width="100%" />
      </p>
      <h6>Carrot</h6>
      <p>
        Demon slayers like Zenitsu have special hearing and use thunder breathing that increases his speed, while
        Inosuke uses beast breathing that enhances the muscles in his body. Learning about unique techniques from
        demons and demon slayers is an exciting experience for fans.
      </p>
      
    </div>


    <div class="col-md-6">
      <p>
        <img src="../static/images/phy2.jpg" alt="bed2" width="100%" />
      </p>
      <h6>Spinach</h6>
      <p>Pokemon is perhaps THE most famous and innocent anime ever. It's kid friendly and super clean. So, why is a
        show about Satoshi and his pocket monster banned? The religious authorities of Saudi Arabia declared that
        Pokemon promotes gambling and Jewish sentiments. Since then, there have been many conspiracy theories
        revolving around the show claiming it to be a Zionist conspiracy. Thus, it is banned in Saudi Arabia. Crazy
        right?
      </p>
      
    </div>
  </section>

      <!-- Row start -->
      <section class="row p-5">
        <h5 class="text-bold">IIE kekko desu</h5>

        <div class="col-md-6">
          <p>
            <img src="../static/images/phy14 (copy).jpg" alt="Carpet 1" width="100%" />
          </p>
          <h6>Tomato</h6>
          <p>
            Demon slayers like Zenitsu have special hearing and use thunder breathing that increases his speed, while
            Inosuke uses beast breathing that enhances the muscles in his body. Learning about unique techniques from
            demons and demon slayers is an exciting experience for fans.
          </p>
          
        </div>


        <div class="col-md-6">
          <p>
            <img src="../static/images/phy15.jpg" alt="bed2" width="100%" />
          </p>
          <h6>Onion</h6>
          <p>Pokemon is perhaps THE most famous and innocent anime ever. It's kid friendly and super clean. So, why is a
            show about Satoshi and his pocket monster banned? The religious authorities of Saudi Arabia declared that
            Pokemon promotes gambling and Jewish sentiments. Since then, there have been many conspiracy theories
            revolving around the show claiming it to be a Zionist conspiracy. Thus, it is banned in Saudi Arabia. Crazy
            right?
          </p>
          
        </div>

        <div class="col-md-6">
          <p>
            <img src="../static/images/phy16.jpg" alt="bed2" width="100%" />
          </p>
          <h6>Cauliflower</h6>
          <p>Set in a world where humans live in constant fear of ghouls - superpowered humanoid beings who feed on
            human flesh to survive, a shy college student named Kaneki Ken, who is nearly killed in an attack by one of
            these monsters, becomes a half-ghoul himself after receiving an organ transplant from the ghoul.
          </p>
          
        </div>

        <div class="col-md-6">
          <p>
            <img src="../static/images/phy17.jpg" alt="bed2" width="100%" />
          </p>
          <h6>Broccoli</h6>
          <p>
            The series adapts Kubo's manga with the main story arcs and introduces anime exclusive ones. In Karakura
            Town, high school student Ichigo Kurosaki becomes a substitute Soul Reaper (死神, Shinigami, literally, "Death
            God"), when Rukia Kuchiki risks her life to protect him from a Hollow.
          </p>
          
        </div>
        <div class="col-md-6">
          <p>
            <img src="../static/images/phy17.jpg" alt="bed2" width="100%" />
          </p>
          <h6>Onion</h6>
          <p>
            The series adapts Kubo's manga with the main story arcs and introduces anime exclusive ones. In Karakura
            Town, high school student Ichigo Kurosaki becomes a substitute Soul Reaper (死神, Shinigami, literally, "Death
            God"), when Rukia Kuchiki risks her life to protect him from a Hollow.
          </p>
          <p class="text-warning">Rating</p>
          <p>
            <span class="badge bg-danger">6.0</span>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <img src="../static/images/phy18.jpg" alt="bed2" width="100%" />
          </p>
          <h6>Bell peppre</h6>
          <p>
            The series adapts Kubo's manga with the main story arcs and introduces anime exclusive ones. In Karakura
            Town, high school student Ichigo Kurosaki becomes a substitute Soul Reaper (死神, Shinigami, literally, "Death
            God"), when Rukia Kuchiki risks her life to protect him from a Hollow.
          </p>
          <p class="text-warning">Rating</p>
          <p>
            <span class="badge bg-danger">6.0</span>
          </p>
        </div>
      </section>
      <!-- Row end -->

     <!-- Row start -->
  <section class="row text-dark bg-muted">
    <div class="col-md-4">
      <h5>About us</h5>
      Anime is basically Japanese fiction. It has a variety of genres like love, gambling, fantasy, horror, mystery,
      thriller, adventure, gaming, etc. However, the characters are drawn differently than cartoon characters.
      That's why, you'll find anime graphics almost the same as other animes
    </div>

    <div class="col-md-4">
      <h5 class="text-bold">Contact us</h5>
      <input type="text" placeholder="Your Email" /> <br /><br />

      <fieldset>
        <label for="">Leave a Comment</label><br />
        <textarea name="" id="comment" cols="20" rows="10"></textarea>
      </fieldset>
      <br />

      <p>
        <span class="badge bg-danger">Send Message</span>
      </p>
    </div>

    <div class="col-md-4">
      <h5>Stay Connected</h5>

      <img src="../static/images/x.png" alt="" />
      <img src="../static/images/in.png" alt="" />
      <img src="../static/images/fb.png" alt="" /><br /><br />

      The rarest animal in the world is the vaquita (Phocoena sinus). It is a kind of critically endangered porpoise that only lives in the furthest north-western corner of the Gulf of California in Mexico. There are only 18 left in the world.
      A rare species is a group of organisms that are very uncommon, scarce, or infrequently encountered. This designation may be applied to either a plant or animal taxon, and is distinct from the term endangered or threatened.
    </div>
  </section>
  <!-- Row end -->
   


</body>
</html>