<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>more Everthing</title>

    <!-- CSS supporting files -->
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="css/bootstrap.css" />

    <link rel="stylesheet" href="css/custom-style.css" />
    <script src="js/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/files/css/style.css">

    <!-- JS supporting files -->

    <script src="../static/files/js/bootstrap.min.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>

    <style>
body{
            background-color: rgb(184, 209, 42);

img{
                transition: 1s;

            }
 img:hover{
                transform: scale(1.1);
            }
            .font-bold{
                font-weight: bold;
            }

            .text-15{
                font-size: 15px;
            }

            section{
                margin-top: 20px!important;
                margin-bottom: 20px !important;
            }
        }
    </style>

</head>
<body>

    <div class="container-fluid">
      <section class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-md navbar-light btn-light bg-warning p-4">
            <a href="#" class="navbar-brand" class="text-danger"
              >Diamples <b class="text-success">Supermarket</b></a
            >
            <img src="../static/images/health_12597635.png" height="56" alt="yourhealth">
            <button
              type="button"
              class="navbar-toggler"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <audio src="../static/CLUB BANGERS 2022 -AFROBEATS VS GENGETONE - DJ JAMES REALEST (hearthis.at).mp3" controls autoplay loop muted>Listen to us</audio>
      
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
    
                <div class="dropdown">
                  <a class=" nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    See More
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="more.html">More Everthing</a></li>
                    <li><a class="dropdown-item" href="elecro.html">Tech stuff</a></li>
                    <li><a class="dropdown-item" href="mybed.html">What you ly on</a></li>
                    <li><a class="dropdown-item" href="fashion.html">WEAR AND TEAR</a></li>
                  </ul>
                </div>
    
                 <a href="home.html" class="nav-item nav-link">Home</a>
                <a href="groceries.html" class="nav-item nav-link">Groceries</a>
                <a href="snacks.html" class="nav-item nav-link">Snacks</a>
                <a href="shelfcare.html" class="nav-item nav-link">Shelfcare</a>
                <a href="blog.html" class="nav-item nav-link">Blog</a>
                <a href="about.html" class="nav-item nav-link text-muted">About</a>
                
              </div>

              <h5>Stay Connected</h5>

              <img src="../static/images/x.png" alt="" width="20px" />
              <img src="../static/images/in.png" alt="" width="20px"/>
              <img src="../static/images/fb.png" alt="" width="20px" /><br /><br />
    

            </div>
          </nav>
        </div>
      </section>
        <br>
    </div>   




    <p>
      As of today , the things I like are Wing Stop , Indian Food , 

And Century 25 . Wing Stop is my favorite place to get hot wings from . I always order the original hot wings boneless with fries and a drink . Sometimes I get ranch on the side . Indian Food . Oh my god ! I love Indian Food so much . Even if I wasn’t Indian I’d still love it . In my opinion , it’s the best spicy food ever .
<br>
 I always either get butter chicken with rice and plain naan or shai paneer ( preparation of cottage cheese in a thick gravy made by heavy whipping cream , tomatoes , and indian spices ) with rice and plain naan . Indian Food is important to me because it’s something that is a part of my culture .  Century 25 . I love to go watch movies there with my boyfriend or my friends . There are so many nearby restaurants and fast food places you can go to . Usually I would go to In and Out after or before the movies or I would go out to get ice cream with my boyfriend .  I love going to Century 25 because they have the best nachos ever and they have a Starbucks inside the theatre .
    </p>
    <br><br><br><br>


    <!-- Row start -->

    <section class="row p-3">

      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <img src="../static/images/pexels-dana-tentis-118658-1152276.jpg" alt="anime" width="100%" />
            
            <p>
              <span class="badge bg-danger">5.8</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <img src="../static/images/pexels-whitewells-han-359553558-14451463.jpg" alt="phone" width="100%" />
            
            <p>
              <span class="badge bg-danger">5.8</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <img src="../static/images/pexels-webdonut-19090.jpg" alt="phone" width="100%" />
            
            <p>
              <span class="badge bg-danger">6.2</span>
            </p>
          
          </div>
        </div>
      </div>
    </section>
    <br><br><br><br><br>

    <!-- Row end -->

        <!-- Row start -->

    <section class="row p-3">
        
  
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <img src="../static/images/pexels-pixabay-267320.jpg" alt="anime" width="100%" />
             
              <p>
                <span class="badge bg-danger">8.9</span>
              </p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <img src="../static/images/pexels-darya-grey_owl-132130036-21581347.jpg" alt="phone" width="100%" />
              
              <p>
                <span class="badge bg-danger">8.2</span>
              </p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <img src="../static/images/bag1.jpg" alt="phone" width="100%" />
              
              <p>
                <span class="badge bg-danger">6.3</span>
              </p>
             
            </div>
          </div>
        </div>
      </section>
      <br><br><br><br><br>
  
      <!-- Row end -->
  <!-- Row start -->

  <section class="row p-3">
    

    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <img src="../static/images/pexels-angela-roma-7319328.jpg" alt="anime" width="100%" />
          
          <p>
            <span class="badge bg-danger">8.5</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <img src="../static/images/pexels-caio-64613.jpg" alt="phone" width="100%" />
          <p>
            <span class="badge bg-danger">7.5</span>
          </p>
         
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body">
          <img src="../static/images/bag3.jpeg" alt="phone" width="100%" />
          <p>
            <span class="badge bg-danger">8.9</span>
          </p>

          
        </div>
      </div>
    </div>
  </section>
  <br><br><br><br><br>

  <!-- Row end -->

    <!-- Row start -->

    <section class="row p-3">
        
  
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <img src="../static/images/phy23.jpg" alt="anime" width="100%" />
              <p>
                <span class="badge bg-danger">7.8</span>
              </p>
            
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <img src="../static/images/phy24.jpg" alt="phone" width="100%" />
              <p>
                <span class="badge bg-danger">8.9</span>
              </p>
              
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <img src="../static/images/phyll30.jpg" alt="phone" width="100%" />
              <p>
                <span class="badge bg-danger">5.9</span>
              </p>
  
            </div>
          </div>
        </div>
      </section>
      <br><br><br><br><br>
  
      <!-- Row end -->

     <!-- Row start -->
  <section class="row text-dark bg-muted">
    <div class="col-md-4">
      <h5>About us</h5>
      Anime is basically Japanese fiction. It has a variety of genres like love, gambling, fantasy, horror, mystery,
      thriller, adventure, gaming, etc. However, the characters are drawn differently than cartoon characters.
      That's why, you'll find anime graphics almost the same as other animes
    </div>

    <div class="col-md-4">
      <h5 class="text-bold">Contact us</h5>
      <input type="text" placeholder="Your Email" /> <br /><br />

      <fieldset>
        <label for="">Leave a Comment</label><br />
        <textarea name="" id="comment" cols="20" rows="10"></textarea>
      </fieldset>
      <br />

      <p>
        <span class="badge bg-danger">Send Message</span>
      </p>
    </div>

    <div class="col-md-4">
      <h5>Stay Connected</h5>

      <img src="../static/images/x.png" alt="" />
      <img src="../static/images/in.png" alt="" />
      <img src="../static/images/fb.png" alt="" /><br /><br />

      The rarest animal in the world is the vaquita (Phocoena sinus). It is a kind of critically endangered porpoise that only lives in the furthest north-western corner of the Gulf of California in Mexico. There are only 18 left in the world.
      A rare species is a group of organisms that are very uncommon, scarce, or infrequently encountered. This designation may be applied to either a plant or animal taxon, and is distinct from the term endangered or threatened.
    </div>
  </section>
  <!-- Row end -->
   


</body>
</html>