<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dresses</title>

    <!-- CSS supporting files -->
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="css/bootstrap.css" />

    <link rel="stylesheet" href="css/custom-style.css" />
    <script src="js/bootstrap.js"></script>

    <link rel="stylesheet" href="../static/files/css/style.css">

    <!-- JS supporting files -->

    <script src="../static/files/js/bootstrap.min.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>

    <style>
body{
            background-color: rgb(206, 223, 114);

img{
                transition: 1s;

            }
 img:hover{
                transform: scale(1.1);
            }
            .font-bold{
                font-weight: bold;
            }

            .text-15{
                font-size: 15px;
            }

            section{
                margin-top: 20px!important;
                margin-bottom: 20px !important;
            }
        }
    </style>

</head>
<body>

    <div class="container-fluid">
      <section class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-md navbar-light btn-light bg-warning p-4">
            <a href="#" class="navbar-brand" class="text-danger"
              >Diamples <b class="text-success">Supermarket</b></a
            >
            <img src="../static/images/health_12597635.png" height="56" alt="yourhealth">
            <button
              type="button"
              class="navbar-toggler"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <audio src="../static/CLUB BANGERS 2022 -AFROBEATS VS GENGETONE - DJ JAMES REALEST (hearthis.at).mp3" controls autoplay loop muted>Listen to us</audio>
      
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
    
                <div class="dropdown">
                  <a class=" nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="shirts.html">Shirts</a></li>
                    <li><a class="dropdown-item" href="suits.html">Suits</a></li>
                    <li><a class="dropdown-item" href="shoesandbruse.html">Shoes and Bruse</a></li>
                  </ul>
                </div>
    
                 <a href="home.html" class="nav-item nav-link">Home</a>
                <a href="groceries.html" class="nav-item nav-link">Groceries</a>
                <a href="snacks.html" class="nav-item nav-link">Snacks</a>
                <a href="shelfcare.html" class="nav-item nav-link">Shelfcare</a>
                <a href="blog.html" class="nav-item nav-link">Blog</a>
                <a href="about.html" class="nav-item nav-link text-muted">About</a>
                
              </div>

              <h5>Stay Connected</h5>

              <img src="../static/images/x.png" alt="" width="20px" />
              <img src="../static/images/in.png" alt="" width="20px"/>
              <img src="../static/images/fb.png" alt="" width="20px" /><br /><br />
    

            </div>
          </nav>
        </div>
      </section>
        <br>

        <marquee behavior="" direction="left" class="text-danger">HERE ARE SOME OF THE FREASHES GROCERIES YOU WILL EVER FIND ON GOD'S GREEN EARTH ^.^</marquee>

    </div>   

     <!-- row start -->

     <section class="row">
      <div class="col-md-6">
        <h1 class="text-warning">Maxi Dress</h1>
        <p class="md-5">
          It has a very dark, depressing, and intense storyline and it is
          considered one of the most controversial anime movies ever. This is
          a 1992 anime film about a young girl whose mother dies. The girl
          meets a man who tells her he will help her if she ever needs
          anything. So, after her mother's death, she goes to find the man and
          ends up at a circus where she gets abused and raped. Thus, Shoujo
          Tsubaki is about child sexual abuse with unbearable gore scenes. The
          horrific and disturbing visuals of this anime have left many viewers
          traumatized,so much so that the tapes of this film were also
          destroyed. Therefore, Shoujo Tsubaki is banned almost everywhere,
          including Japan itself.
        </p>
      </div>

      <div class="col-md-6 mb-5">
        <img src="../static/images/dre1.jpg" alt="lady on a bike" class="w-100" />
      </div>
     
     
    </section>
    <!-- row end -->

    <!-- Row start -->

    <section class="row">
      <h6>rarer</h6>

      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <img src="../static/images/dre2.jpg" alt="anime" width="100%" />
            <h3>Empire</h3>
            <p>
              One of the best ways to get visceral when describing a fight is to activate every sense possible. This includes sight, hearing, taste, touch, and smell. Think of how you can use these five descriptors in your writing to immediately transport the reader to the scene. Sight is perhaps the most obvious.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <img src="../static/images/dre3.jpg" alt="phone" width="100%" />
            <h3>Apron dress</h3>
            <p>To engage in battle or in single combat; attempt to defend oneself against or to subdue, defeat, or destroy an adversary: Our library has records on nearly 60,000 men from West Virginia who fought in World War I. to contend in any manner; strive vigorously for or against something: He fought bravely against despair.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <img src="../static/images/dre4.jpg" alt="phone" width="100%" />
            <h3>Mini Dress</h3>

            <p>Anime is known for its distinct style, which is characterized by colorful, detailed animation and unique character designs. However, anime can be broken down into several different categories, including shōnen, shōjo and seinen. Shōnen anime is aimed at young boys and features action, adventure and comedy.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Row end -->

      <!-- row start -->

      <section class="row">


        <div class="col-md-6 mb-5">
          <img src="../static/images/dre5.jpg" alt="lady on a bike" class="w-100" />
        </div>

        <div class="col-md-6">
          <h1 class="text-warning">Ball Gown</h1>
          <p class="md-5">
            It has a very dark, depressing, and intense storyline and it is
            considered one of the most controversial anime movies ever. This is
            a 1992 anime film about a young girl whose mother dies. The girl
            meets a man who tells her he will help her if she ever needs
            anything. So, after her mother's death, she goes to find the man and
            ends up at a circus where she gets abused and raped. Thus, Shoujo
            Tsubaki is about child sexual abuse with unbearable gore scenes. The
            horrific and disturbing visuals of this anime have left many viewers
            traumatized,so much so that the tapes of this film were also
            destroyed. Therefore, Shoujo Tsubaki is banned almost everywhere,
            including Japan itself.
          </p>
        </div>
  
        
       
      </section>
      <!-- row end -->


      
    <!-- Row start -->

    <section class="row">
      <h6>rarer</h6>

      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <img src="../static/images/dre6.jpg" alt="anime" width="100%" />
            <h3>Halterneck</h3>
            <p>
              One of the best ways to get visceral when describing a fight is to activate every sense possible. This includes sight, hearing, taste, touch, and smell. Think of how you can use these five descriptors in your writing to immediately transport the reader to the scene. Sight is perhaps the most obvious.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <img src="../static/images/dre7.jpg" alt="phone" width="100%" />
            <h3>Camisole</h3>
            <p>To engage in battle or in single combat; attempt to defend oneself against or to subdue, defeat, or destroy an adversary: Our library has records on nearly 60,000 men from West Virginia who fought in World War I. to contend in any manner; strive vigorously for or against something: He fought bravely against despair.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <img src="../static/images/dre10.jpg" alt="phone" width="100%" />
            <h3>Blazer Dress</h3>

            <p>Anime is known for its distinct style, which is characterized by colorful, detailed animation and unique character designs. However, anime can be broken down into several different categories, including shōnen, shōjo and seinen. Shōnen anime is aimed at young boys and features action, adventure and comedy.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Row end -->
 <!-- Row start -->
 <section class="row text-dark bg-muted">
  <div class="col-md-4">
    <h5>About us</h5>
    Anime is basically Japanese fiction. It has a variety of genres like love, gambling, fantasy, horror, mystery,
    thriller, adventure, gaming, etc. However, the characters are drawn differently than cartoon characters.
    That's why, you'll find anime graphics almost the same as other animes
  </div>

  <div class="col-md-4">
    <h5 class="text-bold">Contact us</h5>
    <input type="text" placeholder="Your Email" /> <br /><br />

    <fieldset>
      <label for="">Leave a Comment</label><br />
      <textarea name="" id="comment" cols="20" rows="10"></textarea>
    </fieldset>
    <br />

    <p>
      <span class="badge bg-danger">Send Message</span>
    </p>
  </div>

  <div class="col-md-4">
    <h5>Stay Connected</h5>

    <img src="../static/images/x.png" alt="" />
    <img src="../static/images/in.png" alt="" />
    <img src="../static/images/fb.png" alt="" /><br /><br />

    The rarest animal in the world is the vaquita (Phocoena sinus). It is a kind of critically endangered porpoise that only lives in the furthest north-western corner of the Gulf of California in Mexico. There are only 18 left in the world.
    A rare species is a group of organisms that are very uncommon, scarce, or infrequently encountered. This designation may be applied to either a plant or animal taxon, and is distinct from the term endangered or threatened.
  </div>
</section>
<!-- Row end -->

</body>
</html>